#background {
    border: 3px solid black;
    margin: 5% 10%;
    background-color: white;
    border-radius: 15px;
}

.colom {
    float: left;
    width: 20%;
    margin: 2.3%;
    border: 1px solid black;
}

img {
    width: 100%;
    box-sizing: border-box;
    /* display: block; */
    margin-bottom: 10px;
}